body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    padding: 20px 0;
}

.welcome-section {
    background-color: white;
    margin-bottom: 30px;
    padding: 60px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.welcome-section:hover {
    transform: scale(1.03);
}

.get-started-button {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.get-started-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.feature-cards-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.feature-card {
    background-color: white;
    flex: 1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.feature-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .feature-cards-container {
        flex-direction: column;
    }

    .feature-card {
        margin-bottom: 20px;
    }

    .welcome-section {
        padding: 40px 20px;
    }
}



/* the css below is for the LandingPage.jsx carousel version */

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

main section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

main h2 {
    color: #333;
}

main p {
    line-height: 1.6;
}


.slider img {
    width: 100%;
    border-radius: 10px;
}


.slick-dots li button:before {
    font-size: 12px;
    color: #333;
}

.slick-dots li.slick-active button:before {
    color: black;
}


@media (max-width: 768px) {
    .flip-card {
        width: 40vw;
        height: 40vw;
    }

} */




