
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.login-card, .signup-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h2 {
    color: #333;
    margin-bottom: 20px;
}

.card form {
    display: flex;
    flex-direction: column;
}

.card input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 90%;
}

.card button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 95%;
    font-size: 16px;
}

.card button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }
}
