.loginSignUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid red; */
    height:80vh;
}
.loginForm{
    border:5px solid #fff;
    border-radius: 15px;
    height:50vh;
    width:20vw;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signUpForm{
    margin-left:100px;
    border:5px solid #fff;
    border-radius: 15px;
    height:50vh;
    width:20vw;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginHeader{
    text-align: center;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
}
.signupHeader{
    text-align: center;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
}
.login-background{
    background: linear-gradient(to bottom right, #0a0f0d, #003973); 
    height:100vh;
}
.form-label{
    color:#fff;
    font-family: 'Montserrat', sans-serif;
}
